footer.teal.accent-5.white-text
	.container
		.row
			.col.s8
				p 夏風車

			.col.s4
				a(href="/privacy",class="white-text") プライバシーに関して 
	
	.footer-copy-right
		.container
			address Copyright &copy; 2010 - 2015 summer-windmill.net All right reserved.
