
header
	nav
		.nav-wrapper.teal.accent-2
			.container
				a(href="/",class="brand-logo white-text") Air
				ul#nav-mobile.right.side-nav
					li
						a(href="/channels") Channels
					li
						a(href="foundation") Foundation

				a(class="button-collapse black-text",href="#",data-activates="nav-mobile")
					i.mdi-navigation-menu
