
header
	nav
		.nav-wrapper.blue.teal.accent-5
			.container
				a(href="/",class="brand-logo white-text") 夏風車
				ul#nav-mobile.right.side-nav
					li
						a(href="/channels") チャンネル
					li
						a(href="/foundation") 夏風車について

			a(class="button-collapse white-text",href="#",data-activates="nav-mobile")
				i.mdi-navigation-menu
