
header
	nav
		.nav-wrapper
			.container
				a(href="/",class="brand-logo") チャンネル
				ul#nav-mobile.right.side-nav
					li
						a(href="/channel") Channels
					li
						a(href="company") Foundation

				a(class="button-collapse",href="#",data-activates="nav-mobile")
					i.mdi-navigation-menu
