

@media screen and (min-width: 320px){
  .parallax-container{height: 200px;}
}
@media screen and (min-width: 580px){
  .parallax-container{height: 400px;}
}
@media screen and (min-width: 720px){
  .parallax-container{height: 700px;}
}
