doctype html
html(lang="ja")
	include ../parts/head
	body
		include ../parts/header
		.parallax-container
			.parallax
				img(src="/images/mari.jpg",class="responsive-img")

		.section.white
			.row.container
				h1 全力全開！うねぎチャンネル！
				h5 魅力あふれるヴォーカリスト”うねぎまり”ちゃんのラジオ紹介コーナー！
				p 不定期だけど月に何度か３０分ほど放送します！！！！
		
		.parallax-container
			.parallax
				img(src="/images/mari3.jpg",class="responsive-img")

		.section.white
			.row.container
				h1 The Effel tower is longest.
				h3 It is building on Palies.
				p I am a honerd to be with you today.
				button(class="btn btn-large teal accent-3 white-text")
					a(href="",class="white-text")
						i(class="mdi-av-radio medium") ラジオを聴く

		.parallax-container
			.parallax
				img(src="/images/mari1.jpg",class="responsive-img")
		
		include ../parts/footer
		include ../parts/peer
