doctype html
html(lang="ja")
	include ../parts/head
	body
		include ../parts/header

		.parallax-container
			.parallax
				img(src="http://upload.wikimedia.org/wikipedia/commons/a/ab/Red_sand_dune_in_Namibia.jpg")
		
		.section.white
			.container
				h1 Silk Road with Radio
				p Silkはただのラジオではありません。
				p 伝えたいと思う人と受け取りたいと思う人をつなげるサービスです。
				p なので当サービスはシルク（絹）という名前を選びました。
				p 千年の歴史を紡いで、繋いできたシルクにいただき
				p 皆様をつなぎます。

		.parallax-container
			.container
				.card-container



		.section.white
			.container
				h1 みんな遊んだ糸電話と同じ方法で


		include ../parts/footer
		include ../parts/peer
