doctype html
html(lang="ja")
	include ../parts/head
	link(rel="stylesheet",href="/css/top.css")
	body
		include ../parts/header

		.parallax-container
			.parallax
				img(src="/images/sky.jpg")
		
		.section.white
			.row.center
				h2 "人の持つ可能性を、信じたい"
			.container
				.col.s12.center
					a(href="/listen/unegi")
						button.btn-large.teal.accent-4.white-text.waves-effect.waves-light ラジオ配信を聴く！
							i(class="large mdi-av-radio left")
								

			.container
				.row
					article.col.s12.m6.center
						button(class="btn-floating btn-large waves-effect waves-light teal accent-4")
							i(class="mdi-av-radio large")
						
						h4 ラジオをきこう！

					article.col.s12.m6.center
						button(class="btn-floating btn-large waves-effect waves-light teal accent-4")
							i(class="mdi-image-audiotrack large")

		
		
		include ../parts/footer
		include ../parts/script
