doctype html
html(lang="ja")
	include ../parts/head
	body
		include ../parts/header

		.parallax-container
			.parallax
				img(src="http://upload.wikimedia.org/wikipedia/commons/a/ab/Red_sand_dune_in_Namibia.jpg")
		
		.section.white
			.container
				h1 Silk Road with Radio

		.parallax-container
			.parallax
				img(src="http://upload.wikimedia.org/wikipedia/commons/6/6a/Bosendorfer_185.JPG")

		.section.white
			.container
				h1 すべての楽器を届けたい。
				h1 RockもOrchestraも音楽すべてを
				#peer_id
						
				audio#audio


		include ../parts/footer
		include ../parts/script
