doctype html
html(lang="ja")
	include ../parts/head
	body
		include ../parts/header
		
		.row
			.container
				.col.s12.m4
					h5 うねぎチャンネル
					img(src="/images/mari4.jpg",class="responsive-img")
					button(id="play",class="waves-effect waves-light btn btn-large") Listen!
						i(class="mdi-av-play-arrow left")
					
				.col.s12.m8

		include ../parts/footer
		include ../parts/peer
		include ../parts/radio_controll
		script(src="/js/peer_listen.js")
