doctype html
html(lang="ja")
	head
		meta(charset="utf-8")
		meta(name="viewport",content="width=device-width,minimum-scale=1,maximum-scale=1")

		link(rel="stylesheet",href="css/materialize.css",media="screen,projection")
		link(rel="stylesheet",href="css/main.css")

		//[if lt IE 9 ]><link rel="stylesheet" href="ink-ie.min.css" type="text/css"><![endif]

		title= page_title

		
			
			
	body
		include ../parts/header

		section.container
			article.row.margin_top
				.col.s12.m2
					img(src="images/logo.png",class="image")

					ul.side_nav
						li#foundation 概要
						li#team チーム
						li#other その他
				
				.col.s12.m10
					.row.margin_top
						h1.header 感謝の言葉
						.col.s12
							.card-panel.teal.accent-1
								p 純粋な意味で音楽を楽しむのなら自分の好きな音を探して聞くのが一番です。
								p 私にとって一番自然なそれはうねぎまりちゃんの歌を聞くことでした。
								p 2012年の７月に”大阪なんばハッチ”で聴いたうねぎまりちゃんの歌声は本当に素晴らしくそれ以来彼女の歌声以上にしっくりくる音楽には出会えていません。
								p 私の好きなアーティストは皆一様に私生活からしてクレイジーです。
								p カレーが辛いから家に帰ったアーティストが作った曲は公開２０年たった今でもテレビで、ラジオで聞くことができます。
								p 優れたアーティスト優れている所以は普段の生活が人とは違うところにあるからなのでしょう。
								p 私にはテレビを運営していくことはできません。宝くじを当てるか賭博黙示録に生きるかしないとテレビを運営していく財力はもてません。
								p それでも自分にできること。まずはラジオから。一番好きなアーティストの一部をデータに乗せてお送りしたいと思います。 


					.row.margin_top
						h1.header 概要
						p このウェブサイトとラジオ番組は司会進行を務める”ゆうじくん”によって制作、運営されています。
						p 現在サービスは運営スタッフの人数が製作者と音響（不定期）のみで運営されております。ですので音声が途切れてしまったりといったアクシデントが発生する場合もございます。申し訳ありませんがご容赦いただければ幸いです。
						p 当サイトでは常に新しいコーナーを募集しております。好きなパーソナリティ、またはゲストさんに対して質問してみたいこと、挑戦してほしいことなどございましたら当サイトへメールにてお知らせいただけましたら幸いでございます。
						p なお、当サイトは個人の小さな資金力で運営できるようウェブ用のP2Pを元にして サービスを設計しております。最新規格ではございますがW3Cの制式採用から漏れてしまった場合、別の手段に移行してサービスを再開するのに時間を要する 場合がございます。
						p このサービスへの技術協力をしたいという方がいらっしゃいましたらぜひメールにてお知らせいただけましたらと思います。
						p どうぞ宜しくお願い致します。

						.row
							.col.s12.m4
								a(class="btn waves-effect btn-large" href="") 新コーナーを応募する
									i(class="mdi-content-send right")
								br
							.col.s6.m4
								a(class="btn btn-large waves-effect" href="") ラジオ出演を希望する
									i(class="mdi-content-add right")
					
					.row.margin_top
						h1.header チーム
						
						.col.s12.m6
							.card
								.card-image
									img(src="images/air.jpg")
									span.card-title ゆうじ
								.card-content
									p このウェブ・サービスの作成から構成,作曲,司会となんでもこなす天然パーマ

						.col.s12.m6
							.card
								.card-image
									img(src="images/mari3.jpg")
									span.card-title.grey-text うねぎまり
								.card-content
									p ゆうじくんが大ファン（笑）
								.card-action
									a(href="http://unegi.com") Official Web Site
									a(href="http://ameblo.jp/mari2104/") Official Blog

						.col.s12.m6
							.card
								.card-image
									img(src="images/potential.jpg")
									span.card-title まさおみくん
								.card-content
									p 専門学校で音響を学んだゆうじくんのフェイバリットライトアームである。ストレートヘア



		footer
			.container
				.row
					.col.s12.m6
						p &copy; ゆうじくんとうねぎチャンネル
					.col.s12.m6

		script(src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js")
		script(src="/socket.io/socket.io.js")
		script(src="js/us.js")
		script(src="js/materialize.min.js")
		script(src="js/main.js")

		
