doctype html
html
	include ../parts/head
	body
		include ../parts/header
		
		.row
			.container
				.col.s3
					h5 ポリシー
					

				.col.s9
					.card-panel
						h5 第一条
						p 第一条


		include ../parts/footer
		include ../parts/script
